@page "/vydaje"
@using System.Globalization
@inject HttpClient Http;


<h1>VÝDAJE</h1>

<div class="row mb-3">
    <div class="col-lg-8">
        <div id="vydaje-table" class="card">
            <div class="card-header">
                <h5><strong>Přehled výdajů</strong></h5>                
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Kategorie</th>
                            <th>Subjekt</th>
                            <th>Částka</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (vydaje == null)
                        {
                            <tr><td><em>Loading...</em></td></tr>
                        }
                        else
                        {
                            @foreach (var vydaj in vydaje)
                            {
                                <tr>
                                    <td>@vydaj.Datum.ToShortDateString()</td>
                                    <td>@vydaj.Kategorie</td>
                                    <td>@vydaj.Subjekt</td>
                                    <td>@vydaj.Castka.ToString("C", CultureInfo.CreateSpecificCulture("cs-CZ"))</td>
                                    <td><button type="button" class="btn btn-danger btn-sm" @onclick="() => OpenDeleteDialog(vydaj)">Smazat</button></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <VydajForm OnSubmitCallback="@Refresh"></VydajForm>
    </div>
</div>
<br />

<div>&nbsp;</div>
@if (DeleteDialogOpen)
{
    <ModalDialog Title="Opravdu smazat?"
             Text="Tato položka bude vymazána!"
             OnClose="@OnDeleteDialogClose"
             DialogType="ModalDialog.ModalDialogType.DeleteCancel">
    </ModalDialog>
}




@code {
    private Vydaj[] vydaje;

    private Vydaj _vydajToDelete;
    public bool DeleteDialogOpen { get; set; }

    private async Task OnDeleteDialogClose(bool accepted)
    {
        if (accepted)
        {
            await Http.DeleteAsync($"api/Vydaje/{_vydajToDelete.Id}");
            await LoadData();
            _vydajToDelete = null;
        }

        DeleteDialogOpen = false;
        StateHasChanged();
    }

    private void OpenDeleteDialog(Vydaj vydaj)
    {
        DeleteDialogOpen = true;
        _vydajToDelete = vydaj;
        StateHasChanged();
    }

    protected async override Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        vydaje = await Http.GetFromJsonAsync<Vydaj[]>("api/Vydaje");
        StateHasChanged();
    }

    public async void Refresh()
    {
        await LoadData();
    }

}
